* {
  margin: 0px;
  padding: 0px;
}
body {
  width: 100%;
  height: 100vh;
}
.container {
  width: 100%;
  height: 100vh;

  display: grid;
  grid-template-columns: 1fr 1fr 0.5fr 1fr;
  grid-template-rows: 1.5fr 0.3fr 1fr;
  grid-template-areas:
    "main main mainside mainside"
    "main main mainside mainside"
    "left mid mid right";
}
.main {
  grid-area: main;
}
.main img {
  width: 100%;
  height: 100%;
}
.mainside {
  grid-area: mainside;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.mainside div {
  margin: 70px;
}
.mainside div .title {
  font-weight: 700;
  font-size: 50px;
}
.mainside div .sum {
  color: gray;
  font-size: large;
}
.mainside div .fot span {
  word-spacing: 5px;
  letter-spacing: 10px;
  color: gray;
}
.mainside div .fot img {
  word-spacing: 5px;
  letter-spacing: 10px;
  fill: gray;
  margin-left: 20px;
}

.bottomleft {
  grid-area: left;
}
.bottomleft img {
  width: 100%;
  height: 100%;
  display: flex;
}
.bottommid {
  grid-area: mid;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.io {
  width: 90%;
  height: 90%;

  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}
.io .title {
  font-size: x-large;
  font-weight: 600;
  margin: 10px;
}
.io .sum {
  color: gray;
  margin: 10px;
  font-size: large;
}

.bottomright {
  grid-area: right;
}
.bottomright img {
  width: 100%;
  height: 100%;
}
.button {
  grid-column: 3/4;
  grid-row: 2/3;
  z-index: 6;
  display: flex;
  justify-content: center;
  align-items: center;
}
.button .left {
  width: 100%;
  height: 100%;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
}
.button .right {
  width: 100%;
  height: 100%;
  display: flex;
  background-color: gray;
  align-items: center;
  justify-content: center;
}
